{% extends "base.html" %}

{% block main %}
  <div class="profile-card">
    <div class="card-bg">
      <img src="{{url_for('static', filename='nico robin.jpeg')}}"/>
      <h1>Alexia Barrows</h1>
      <p>@aeia</p>
  
      <p>Kingston, Jamaica</p>
      <p>Joined {{ date_joined }}</p>
    </div>

    <div class="stats">
    <p>
      Computer Science student passionate about front-end development
      and exploring back-end development.
    </p>
    <div class="flexbox">
      <div>
        <strong>7</strong>
        <p>Posts</p>
      </div>
      <div>
        <strong>100</strong>
        <p>Following</p>
      </div>
      <div>
        <strong>250</strong>
        <p>Followers</p>
      </div>
    </div>
    <button class="follow-btn">Follow</button>
  </div>

    
{% endblock %}